.form {
  &-login {
    width: 425px;
    &-button {
      padding: 16px 0;
    }

    &-title {
      margin-bottom: 40px;
    }
  }
  &-inputs-container {
    display: grid;
    grid-row-gap: 35px;
    margin-bottom: 40px;
  }
}
