@import 'styles/variables/_colors.module.scss';

.sidebarSkeleton {
  height: 100vh;
  width: 300px;
  background: $ui-color-light-gray;

  &-logo {
    margin: 15px;
  }

  &-list {
    padding: 60px 20px !important;
    width: 100%;
    display: grid;
    grid-row-gap: 30px;

    &__item {
      margin: 8px 0;
    }
  }
}
