.loading-modal {
  &-dialog {
    width: 200px;
    text-align: center;
  }
  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-loader {
    text-align: center;
  }
}
