@import 'styles/variables/_colors.module.scss';

.checkbox {
  &-label {
    &-wrap {
      padding: 0;
      margin: 0;
    }
    &-text {
      padding-left: 8px;
      &__error {
        color: $ui-color-red;
      }
    }
  }
  &-root {
    padding: 0;
    &__error {
      color: $ui-color-red;
    }
  }
}
