$ui-color-dark-blue: #000842;
$ui-color-white: #fff;
$ui-color-black: #000;
$ui-color-dark-grey: #282828;

$ui-color-light-purple: #806194;
$ui-color-dark-purple: #673ab7;
$ui-color-light-gray: #f8f8f8;

$ui-color-dark-pink: #df1674;
$ui-color-light-green: #c2f970;

$ui-color-red: #d32f2f;

:export {
  white: $ui-color-white;
  black: $ui-color-black;
  darkBlue: $ui-color-dark-blue;
  darkGrey: $ui-color-dark-grey;
  darkPurple: $ui-color-dark-purple;
  lightPurple: $ui-color-light-purple;
  darkPink: $ui-color-dark-pink;
  lightGreen: $ui-color-light-green;
  lightGray: $ui-color-light-gray;
}
