$ui-color-dark-blue: #000842;
$ui-color-white: #fff;
$ui-color-dark-grey: #282828;
$ui-color-dark-purple: #673ab7;

:export {
  white: $ui-color-white;
  darkBlue: $ui-color-dark-blue;
  darkGrey: $ui-color-dark-grey;
  darkPurple: $ui-color-dark-purple;
}
